
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!--başlık eklemek için div kullanılır -->
<div>MVC</div>

<!--bos satır eklemek için br kullanılır -->
<br />
<!--yazı yazmak için h kullanılır -->
<h2>MVC KAMP</h2>
<br />

<!--tablo oluşturuyoruz -->
<table class="table table-hover">
    <tr>
        <!--tablo row demek-->
        <th>
            <!--table head demek. başlık olduğu için kalın punto-->
            Id
        </th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>
            <!--table data demek. data olduğu için ince punto-->
            1
        </td>
        <td>Eğitim</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>
    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>
    <tr>
        <td>4</td>
        <td>Sİnema</td>
        <td>Açıklama Bekleniyor</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>
</table>
<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklama</button>
